body,
h1,
h3,
p,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebf4fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 2em;
  background-color: #9bcb64;
  color: white;
}

#searchBar {
  width: 80%;
  max-width: 500px;
  padding: 1em;
  margin: 1em auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#diseaseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}
.disease-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.disease-card {
  background-color: #ebf4fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0.5em;
  padding: 1em;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disease-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hidden {
  display: none;
}

#diseaseDetails {
  padding: 2em;
  background-color: #ebf4fa;
  border-radius: 10px;
  max-width: 600px;
  margin: 2em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 1em;
}

a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  #searchBar {
    width: 60%;
  }

  .disease-card {
    width: calc(50% - 2em);
  }
}

@media (min-width: 900px) {
  #searchBar {
    width: 50%;
  }

  .disease-card {
    width: calc(33.333% - 2em);
  }
}

@media (min-width: 1200px) {
  #searchBar {
    width: 40%;
  }

  .disease-card {
    width: calc(25% - 2em);
  }
}
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf4fa;
  color: #333;
}

header {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #2e7d32;
  border-radius: 5px;
}

header a:hover {
  background-color: #1b5e20;
}

main {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

section {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 10px;
  color: #4caf50;
}

section p {
  margin: 0;
}

/* Responsive design */
@media (max-width: 600px) {
  body {
    padding: 0px;
  }
  main {
    padding: 15px;
  }
}
